* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#root {
    height: 100%;
}

:root {
    --transition: 0.1s;

    --color-main: #0088CC;
    --color-red: #E53E3E;
    --color-gray-0: #FFFFFF;
    --color-gray-50: #F7FAFC;
    --color-gray-100: #EDF2F7;
    --color-gray-200: #E2E8F0;
    --color-gray-300: #CBD5E0;
    --color-gray-400: #A0AEC0;
    --color-gray-500: #718096;
    --color-gray-600: #4A5568;
    --color-gray-700: #2D3748;
    --color-gray-800: #1A202C;
    --color-gray-900: #171923;
}
