.form {
  display: flex;
  width: 100%;
  max-width: 24rem;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
  margin: 0;
  border-radius: 0.5rem;
  box-shadow: var(--color-gray-400) 0 0.25rem 0.5rem;
}
