.button {
  display: flex;
  justify-content: center;
  padding: 0.75rem;
  line-height: 100%;
  font-size: 1rem;
  border: 0;
  border-radius: 0.25rem;
  color: var(--color-gray-0);
  background: var(--color-main);
  cursor: pointer;
  transition: var(--transition);

  &:hover {
    opacity: 0.9;
  }
}
