.input {
  display: flex;
  flex-direction: column;

  .input-name {
    display: flex;
    margin: 0;
    padding: 0 0.5rem;
    color: var(--color-gray-500);
    user-select: none;

    .input-required-mark {
      display: flex;
      color: var(--color-red);
    }
  }

  .input-field {
    display: flex;
    padding: 0.5rem;
    line-height: 100%;
    font-size: 1rem;
    border: 1px solid var(--color-gray-300);
    border-radius: 0.25rem;
    color: var(--color-gray-700);
    transition: var(--transition);

    &:focus {
      outline: none;
      border: 1px solid var(--color-main);
    }
  }
}
